@import '../../../../styles/customMediaQueries.css';

.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.oneColumn {
  composes: baseColumn;
}

.twoColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  }
}
.threeColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(3, calc((100% - 2 * 32px) / 3));
  }
}
.fourColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(4, calc((100% - 3 * 32px) / 4));
  }
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}

#new-listing-masonary {

}

.title {

}

.fontPermanentMarker {
  font-family: "Permanent Marker", serif;
}

.noSidePaddings{
  padding: 0 !important;
}

.listingCards {
  padding: 0 24px 0 24px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportMedium) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);

  }

  @media (--viewportLarge) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);

  }

  @media (min-width: 1440px) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }

}

.listingCard {
  width: 100%;
}




