@import '../../../../styles/customMediaQueries.css';

.root {
  /* SectionContainer defaults */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  /* Hero specific */
  
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 15vh;

  @media (min-width: 550px) {
    min-height: 20vh;
  }

  @media (--viewportMedium) {
    min-height: 20vh;
  }

  @media (--viewportLarge) {
    min-height: 30vh;
  }

  @media (min-width: 1440px) {
    min-height: 45vh;
  }

}

.imgwidthunset {
  max-width: 1500px !important;
  margin: 0 auto;
}

.imgheightunset img {
  height: auto;
}