@import '../../../../styles/customMediaQueries.css';

.root {
  /* SectionContainer defaults */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  /* Hero specific */
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;


  @media (--viewportLarge) {
    min-height: 45vh;
  }


}

.imgwidthunset {
  max-width: 1500px !important;
  margin: 0 auto;
}

.imgheightunset img {
  height: auto;
}