@import '../../styles/customMediaQueries.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.aspectRatioWrapper {
  transition: var(--transitionStyleButton);
  background: var(--colorGrey100); /* Loading BG color */
  overflow: hidden;

  @media (--viewportMedium) {
    &:hover {
      transform: scale(1.02);
      box-shadow: var(--boxShadowListingCard);
    }
  }
}

.rootForImage {
  border: solid 1px var(--colorGrey100);
  width: 100%;
  height: 100%;
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 14px 0 2px 0;
}

.info2{
  position: absolute;
  bottom: -24px;
  left: 0;
  font-size: 10px
}

.cousine {
  font-family: "Cousine", serif;
  font-weight: 400;
  text-transform: none;
}

.price {
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}

.priceValue {
  /* Font */
  font-size: 16px;
  font-weight: var(--fontWeightSemiBold);
  line-height: 18px;

  letter-spacing: -1px;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  font-size: 16px;
  font-weight: var(--fontWeightSemiBold);
  line-height: 18px;

  color: var(--marketplaceColor);
  display: inline-flex;
  align-items: center;
  margin-left: 2px;
  letter-spacing: -1px;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  /* Font */
  font-size: 16px;
  font-weight: var(--fontWeightRegular);
  line-height: 18px;

  color: var(--marketplaceColor);
  margin: 0;
  letter-spacing: -1px;
}

.authorInfo {
  /* Font */
  font-size: 16px;
  font-weight: var(--fontWeightRegular);
  line-height: 18px;

  color: var(--marketplaceColor);  
  letter-spacing: -1px;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}
