@import '../../../styles/customMediaQueries.css';

.coverEverything {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.root {
  /* Positioning */
  composes: coverEverything;
}

.overlay {
  /* Positioning */
  composes: coverEverything;

  /* Overlay background style */
  background-color: var(--colorWhite);
  opacity: 0.9;
}

.overlayContent {
  composes: h4 from global;
  color: var(--colorGrey700);

  /* Positioning */
  composes: coverEverything;

  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  &:hover {
    .message {
      display: unset;
    }
  }

}

@media (--viewportMedium) {
  .overlayContent {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.message {
  composes: textXSmall from global;
  max-width: 220px;
  text-align: center;
  position: absolute;
  top: 40px;
  color: #FFF;
  display: none;
  pointer-events: none;
}

.messageClass {
  composes: textXSmall from global;
  max-width: 220px;
  text-align: center;
  display: unset;  

  font-weight: var(--fontWeightBold);
  letter-spacing: -0.2px;
  line-height: normal;

  font-family: 'Inter';
  font-size: 24px;
  text-transform: uppercase;
  color: #4A4A4A;  
  position: relative;
  top: 0;
}

.errorMessage {
  composes: message;
  color: var(--colorFail);
}

