@import '../../../../styles/customMediaQueries.css';

.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.oneColumn {
  composes: baseColumn;
}

.twoColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  }
}
.threeColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(3, calc((100% - 2 * 32px) / 3));
  }
}
.fourColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(4, calc((100% - 3 * 32px) / 4));
  }
}

.root {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  &:nth-of-type(odd) {
    background-color: var(--colorWhite);
  }

  &:target {
    scroll-margin-top: var(--topbarHeight);
    @media (--viewportMedium) {
      scroll-margin-top: var(--topbarHeightDesktop);
    }
  }
}

.sectionContent {
  padding: 32px 0;
  position: relative;
  word-break: break-word;

  @media (--viewportMedium) {
    padding: 64px 0;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.listings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listingsForGridVariant {
  composes: listings;
}

.listingsForMapVariant {
  composes: listings;
  padding: 0 24px;

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}

.searchListingsPanel {
  flex-grow: 1;
}

.listingCards {
  padding: 0 24px 0 24px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;
}

.listingCard {
  width: 100%;
}

.title {
  color: var(--marketplaceColor);
  margin: 5px 0px;
}

.fontPermanentMarker {
  font-family: "Permanent Marker", serif;
}

.center {
  text-align: center;
}

.fontInter {
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 44px;
}

.noSidePaddings{
  padding: 0 !important;
}

.masonary {
  padding: 0 24px 0 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportMedium) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportLarge) {    
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box1 box1 box2 box3"
      "box1 box1 box4 box5"
      "box6 box7 box8 box8"
      "box9 box10 box8 box8"
      "box11 box11 box12 box13"
      "box11 box11 box14 box15";
    /*
    grid-template-areas:
      "box1 box1 box2 box3"
      "box5 box6 box2 box4"
      "box5 box7 box7 box7";
    */
    grid-gap: 28px;
  }

  @media (min-width: 1440px) {
    padding: 0;

  }


}

.box {
  position: relative;
  @media (--viewportLarge) {
      color: #000;
      background: transparent !important;

      display: grid;
      font-size: 12px;
      position: relative;
  }
}

.box:hover {
  @media (--viewportLarge) {
    background: #e91e63;
  }
}

.box h2 {
  @media (--viewportLarge) {
    margin-bottom: 20px;
  }
}

.box:nth-child(1) {
  @media (--viewportLarge) {
    grid-area: box1;
    background: rgb(247, 0, 255);
  }
}

.box:nth-child(2) {
  @media (--viewportLarge) {
    grid-area: box2;
    background: rgb(111, 0, 255);
  }
}

.box:nth-child(3) {
  @media (--viewportLarge) {
    grid-area: box3;
    background: rgb(0, 81, 255);
  }
}

.box:nth-child(4) {
  @media (--viewportLarge) {
    grid-area: box4;
    background: rgb(0, 97, 84);
  }
}

.box:nth-child(5) {
  @media (--viewportLarge) {
    grid-area: box5;
    background: rgb(1, 126, 7);
  }
}

.box:nth-child(6) {
  @media (--viewportLarge) {
    grid-area: box6;
    background: rgb(255, 166, 0);
  }
}

.box:nth-child(7) {
  @media (--viewportLarge) {
    grid-area: box7;
    background: rgb(255, 0, 55);
  }
}

.box:nth-child(8) {
  @media (--viewportLarge) {
    grid-area: box8;
    background: rgb(247, 0, 255);
  }
}

.box:nth-child(9) {
  @media (--viewportLarge) {
    grid-area: box9;
    background: rgb(111, 0, 255);
  }
}

.box:nth-child(10) {
  @media (--viewportLarge) {
    grid-area: box10;
    background: rgb(0, 81, 255);
  }
}

.box:nth-child(11) {
  @media (--viewportLarge) {
    grid-area: box11;
    background: rgb(255, 166, 0);
  }
}

.box:nth-child(12) {
  @media (--viewportLarge) {
    grid-area: box12;
    background: rgb(255, 0, 55);
  }
}

.box:nth-child(13) {
  @media (--viewportLarge) {
    grid-area: box13;
    background: rgb(247, 0, 255);
  }
}

.box:nth-child(14) {
  @media (--viewportLarge) {
    grid-area: box14;
    background: rgb(111, 0, 255);
  }
}

.box:nth-child(15) {
  @media (--viewportLarge) {
    grid-area: box15;
    background: rgb(0, 81, 255);
  }
}
