@import '../../../../styles/customMediaQueries.css';


.baseColumn {
  max-width: var(--contentMaxWidthPages);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.oneColumn {
  composes: baseColumn;
}

.twoColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  }
}
.threeColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(3, calc((100% - 2 * 32px) / 3));
  }
}
.fourColumns {
  composes: baseColumn;
  @media (--viewportMedium) {
    grid-template-columns: repeat(4, calc((100% - 3 * 32px) / 4));
  }
}

.root {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  &:nth-of-type(odd) {
    background-color: var(--colorWhite);
  }

  &:target {
    scroll-margin-top: var(--topbarHeight);
    @media (--viewportMedium) {
      scroll-margin-top: var(--topbarHeightDesktop);
    }
  }
}

.sectionContent {
  padding: 32px 0;
  position: relative;
  word-break: break-word;

  @media (--viewportMedium) {
    padding: 64px 0;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.listings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listingsForGridVariant {
  composes: listings;
}

.listingsForMapVariant {
  composes: listings;
  padding: 0 24px;

  @media (--viewportLarge) {
    padding: 0 36px;
  }
}

.searchListingsPanel {
  flex-grow: 1;
}

.listingCards {
  padding: 0 24px 0 24px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (min-width: 550px) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportMedium) {
    padding: 0 24px 0 24px;
    grid-template-columns: repeat(2, 1fr);

  }

  @media (--viewportLarge) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);

  }

  @media (min-width: 1440px) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
  }

}

.listingCard {
  width: 100%;
}

.title a {
  color: var(--marketplaceColor);
  margin: 5px 0px;
  text-decoration: line-through;
}

.title a:hover {
  background: none;
  text-decoration: none;
}

.fontInter {
  font-family: 'Inter';
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 44px;
}

.center {
  text-align: center;
}

.noSidePaddings{

  @media (--viewportLarge) {
    padding: 0 !important;
  }
}

.box {
  position: relative;
  @media (--viewportLarge) {
      color: #000;
      background: transparent !important;

      display: grid;
      font-size: 12px;
      position: relative;
  }
}