@import '../../../../styles/customMediaQueries.css';

.articleMain {
  /* 720px + (2 * 32px) == 784 */
  max-width: 784px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 0 32px;
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}

.title {
  max-width: 30ch;
  
}

.ingress {
  max-width: 65ch;
}

.textwide {
  max-width: 100% !important;
}

.textwidthunset {
  max-width: 1680px !important;
}

.ebgaramond {
  font-family: EB Garamond, serif;
  font-size: 64px !important;
  line-height: 64px !important;  
  font-style: italic;
  font-weight: 500 !important;
  letter-spacing: -3px !important;
  
  word-break: auto-phrase !important;

  @media (--viewportLarge) {
    font-size: 125px !important;
    line-height: .8 !important;
    padding: 0;
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 24px;
    margin-bottom: 24px;
  }
}